
#bar {
    background-color: #121212;
    padding-left: 14px;
    padding-right: 14px;
}

#box {
    background-color: #86b5b5;
}

#clock {
    color: #e0e0e0;
    font-size: 22px;
    font-family: comicneue;
}

#workspaces {
    padding: 3px;
    margin: 5px;
}

#ws-box[state="off"]{
    background-color: #393939;
    border: 0px;
    border-radius: 7px;
}

#ws-box[state="on"]{
    background-color: #e0e0e0;
    border: 0px;
    border-radius: 7px;
}